.assigncontain {
    box-shadow:0px 0px 50px 30px #61dbfb ;
    background: radial-gradient(ellipse farthest-side at bottom right, rgb(0, 0, 0) 53%, rgb(77, 77, 82) 88%, rgb(81, 81, 92) 93%, rgb(255, 255, 255) 100%);
    border-radius: 25px;
}