#root {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #424242, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #424242, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 115vh;
  background-size: cover;
  background-position: center;
}

body {
  height: 100%;
}

.linkButton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: rgba(255,255,255);
  text-decoration: underline;
  cursor: pointer;
}

/* .loginform {
  box-shadow:0px 0px 50px 30px #61dbfb ;
} */