#root {
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/bench-on-a-glacial-lake-mount-robson-paul-zizka.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}