.jumboimg {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.jumbocontain {
  color: blanchedalmond !important;
  font-size: large !important;
  font-weight: bolder !important;
  text-align: center !important;
}
.btn {
  font-weight: bolder !important;
  color: #121212;
  text-shadow: -1px 1px 0 #fffafa, 1px 1px 0 #61dbfb, 1px -1px 0 #42afac,
    -1px -1px 0 #61dbfb;
  border-radius: 20px;
  padding-right: auto;
  padding-left: auto;
  background-image: linear-gradient(
    to right,
    #1c92d2 0%,
    #f2fcfe 51%,
    #1c92d2 100%
  ) !important;
}
.jumbotron {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
  padding-left: auto !important;
  padding-right: auto !important;
  margin-top: 5rem !important;
  margin-bottom: 1rem !important;
  box-shadow:0px 0px 50px 30px #61dbfb ;
  border-radius: 40px !important;
  margin-right: -2rem;
  margin-left: -2rem;
}
.jumbotitle {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* font-stretch: ultra-expanded; */
  font-size: 10vw;
  text-align:center;
  background-image: url(https://thumbs.gfycat.com/BewitchedAntiqueAllensbigearedbat-size_restricted.gif);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
  padding-left: auto !important;
  padding-right: auto !important;
}
.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: #122;
  border-radius: 3px;
  color: #fff;
  transition: 0.35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.white-mode:hover {
  background-color: #fff;
  color: #122;
}
.jumbotext {
  color: #121212;
  text-shadow: -1px 1px 0 #fffafa, 1px 1px 0 #61dbfb, 1px -1px 0 #42afac,
    -1px -1px 0 #61dbfb;
  font-size: auto;
}
