.Card {
    background: 'linear-gradient(45deg, #219gf3 30%, #9e9e9e 90%)';
}
svg {
    display: block;
    font: 8em 'Montserrat';
    width: auto;
    height: auto;
    margin: 0 auto;
}
.text-copy {
    fill: none;
    stroke: white;
    /* stroke-dasharray: 6% 29%; */
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 20s infinite linear;
}
.text-copy:nth-child(1){
	stroke: #61dbfb;
    animation-delay: 0;
}
.text-copy:nth-child(2){
	stroke: #61dbfb;
	animation-delay: 0s;
}
.text-copy:nth-child(3){
	stroke: #61dbfb;
	animation-delay: -1s;
}
.text-copy:nth-child(4){
	stroke: #61dbfb;
	animation-delay: -2s;
}
.text-copy:nth-child(5){
	stroke: #61dbfb;
	animation-delay: -3s;
}
@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
.teachertext {
    display:inline-block;
    overflow:hidden;
    height: auto;
    font-weight: bolder;
    color: #61dbfb;
    font-size: large;
    max-width: -webkit-fill-available;
    margin-top: -1rem;
    font-family: math;
}
  