footer {
    /* text-align: center; */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1px;
    opacity: 1 !important;
    background: rgb(66,66,66);
    background: linear-gradient(254deg, rgba(66,66,66,1) 0%, rgba(97,219,251,1) 100%);
}
  