/* .Navbar {
    color: #F0F2F0;
    float: right;
} */

/* .nav-item{
  display: inline-block;
  font-size: large;
} */

/* .nav-item__active{
  display: inline-block;
  color: #F0F2F0;
  font-size: large; 
  border-bottom: solid white 3px !important; 
  transition: border-bottom .5s ease-in-out; 
} */

/* .navbar-dark {
  letter-spacing: 0.1em;
} */

/* .navbar-item {
  float: right;
} */

/* .navbar-nav {
  display: inline-block;
  font-size: large;
} */

.nav-wrapper {
  background: linear-gradient(315deg, rgba(66,66,66,1) 0%, rgba(97,219,251,0.7450689748555672) 59%);
}
/* .nav ul {
  color: black !important;
} */