/* .Navbar {
    color: #F0F2F0;
    float: right;
} */
/* .nav-item{
  display: inline-block;
  font-size: large;
} */
/* .nav-item__active{
  display: inline-block; 
  color: #F0F2F0;
  font-size: large; 
  border-bottom: solid white 3px !important;  
  transition: border-bottom .5s ease-in-out; 
} */
/* .navbar-dark {
  letter-spacing: 0.1em;
} */
/* .navbar-item {
  float: right;
} */
/* .navbar-nav {
  display: inline-block;
  font-size: large;
} */
/* .nav ul {
  color: black !important;
} */
.nav-wrapper {
  background: rgb(66,66,66);
  background: linear-gradient(254deg, rgba(66,66,66,1) 0%, rgba(97,219,251,1) 100%);
}
#li-nav {
  background: none !important;
  line-height: 70px;
}